@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This is a Website that displays the Campaigns infomation from the https://www.cabq.gov/abq-data/ site</p>
<p>The user just needs to click on the details next to the vendor name to see all the details of that one contribution</p>
<p>If the user wants to see some more infomation all they have to do is pick the pages they wish to view and how many items and then click the update page button.</p>
